<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="TemplateMo">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">

<title>Ourd Business - Services</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="assets/css/fontawesome.css">
<link rel="stylesheet" href="assets/css/templatemo-finance-business.css">
<link rel="stylesheet" href="assets/css/owl.css">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
</head>

<body>

	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div class="jumper">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- Header -->


	<header class="">
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="index.html"><h2>OURD Business</h2></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="home">Home
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="about">About
								Us</a></li>
						<li class="nav-item active"><a class="nav-link" href="login">Sign
								Up</a></li>
						<li class="nav-item"><a class="nav-link" href="board">Board
						</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- Page Content -->
	<div class="page-heading header-text">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>>JOIN PAGE</h1>
					<span>WITH. OURD</span>
				</div>
			</div>
		</div>
	</div>

	<div class="register-login-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="logreg-forms">
					</br> </br>
					<form action="/joinProc" method="post">
						<h3 style="text-align: center">Sign up</h3></br></br>	
						<input type="text" name="username" class="form-control"
							placeholder="Username" required autofocus=""> </br> 
						<input type="password" name="password" class="form-control"
							placeholder="Password" required autofocus=""> </br> 
						<input type="password" id="user-repeatpass" class="form-control" 
						    placeholder="Repeat Password" required autofocus=""> </br>
						<input type="email" name="email" class="form-control"
							placeholder="Email address"></br>
						<button>회원가입</button>
					</form>
					<a href="/login" id="cancel_signup"><i
						class="fas fa-angle-left"></i>Back</a>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- 로그인 관련 JS -->
 <p style="text-align:center">
        <a href="http://bit.ly/2RjWFMfunction toggleResetPswd(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle() // display:block or none
    $('#logreg-forms .form-reset').toggle() // display:block or none
}

function toggleSignUp(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle(); // display:block or none
    $('#logreg-forms .form-signup').toggle(); // display:block or none
}

$(()=>{
    // Login Register Form
    $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
    $('#logreg-forms #cancel_reset').click(toggleResetPswd);
    $('#logreg-forms #btn-signup').click(toggleSignUp);
    $('#logreg-forms #cancel_signup').click(toggleSignUp);
})g" target="_blank" style="color:black"></a>
    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
    
    
  
	<div class="partners">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-partners owl-carousel">
						<div class="partner-item">
							<img src="assets/images/client-01.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer Starts Here -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3 footer-item">
					<h4>Ourd Business</h4>
					<p>Vivamus tellus mi. Nulla ne cursus elit,vulputate. Sed ne
						cursus augue hasellus lacinia sapien vitae.</p>
					<ul class="social-icons">
						<li><a rel="nofollow" href="https://fb.com/templatemo"
							target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-behance"></i></a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-item">
					<h4>Useful Links</h4>
					<ul class="menu-list">
						<li><a href="#">Vivamus ut tellus mi</a></li>
						<li><a href="#">Nulla nec cursus elit</a></li>
						<li><a href="#">Vulputate sed nec</a></li>
						<li><a href="#">Cursus augue hasellus</a></li>
						<li><a href="#">Lacinia ac sapien</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-item">
					<h4>Additional Pages</h4>
					<ul class="menu-list">
						<li><a href="#">About Us</a></li>
						<li><a href="#">How We Work</a></li>
						<li><a href="#">Quick Support</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>



				<div class="col-md-3 footer-item last-item">
					<h4>Contact Us</h4>
					<div class="contact-form">
						<form id="contact footer-contact" action="" method="post">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<fieldset>
										<input name="name" type="text" class="form-control" id="name"
											placeholder="Full Name" required="">
									</fieldset>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<fieldset>
										<input name="email" type="text" class="form-control"
											id="email" pattern="[^ @]*@[^ @]*"
											placeholder="E-Mail Address" required="">
									</fieldset>
								</div>
								<div class="col-lg-12">
									<fieldset>
										<textarea name="message" rows="6" class="form-control"
											id="message" placeholder="Your Message" required=""></textarea>
									</fieldset>
								</div>
								<div class="col-lg-12">
									<fieldset>
										<button type="submit" id="form-submit" class="filled-button">Send
											Message</button>
									</fieldset>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>
						Copyright &copy; 2021 Ourd Business Co. , Ltd. - Design: <a
							rel="nofollow noopener" href="http://localhost:9091/login"
							target="_blank"></a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Additional Scripts -->
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/owl.js"></script>
	<script src="assets/js/slick.js"></script>
	<script src="assets/js/accordions.js"></script>


</body>
</html>